.audiojs {
	margin: 5px 25px;
}
.slick {
	margin: 20px auto;
}
#jumbo{	
	background-color: rgba(0,0,0,.4);
	border-bottom: 1px solid black;
}
#book {
	margin-top: -10px;
	margin-left: 50px;
	background-color: #000;
	border: 1px solid #fff;
	-webkit-transition: all .2s;
    transition: all .2s;

}
#book:hover {
	background-color: #666;
}
#logo{
	font-weight: bold;
	text-shadow: 1px 1px #fff;
	font-family: 'Anton', sans-serif;
	font-size: 10em;
	margin-top: -40px;
}
#sub-logo{
	margin-left: 20px;
	font-size: 2em;
}
.sub-heading{
	color: #fff;
	display: block;
	max-width: 75px;
	margin-bottom: -10px;
	background-color: #000;
	border: 1px solid #999999;
	-webkit-transition: all .2s;
    transition: all .2s;
}
.sub-heading:hover {
	color: #fff;
	background-color: #666;
	border: 1px solid #999999;
}
#content {
	margin-top: -20px;
}
.content {
	margin: 25px 0px 5px 15px
}

.contact{
	margin-bottom: -20px;
}
li {
	list-style: none;
}


@media (max-width: 600px) {
  #book {
    display: none;
  }
  #sub-logo {
  	font-size: 1.5em;
  	margin: 0 auto;
  }
  #logo {
  	font-size: 4em;
  	margin: 0 auto;
  }
  .sub-heading {
  	display: block;
	margin: 20px auto;
	font-size: 3em;
	max-width: 300px;
  }

 .content {
 	margin-top: 40px;
 	font-size: 2em;
 	text-align: center;
 }
 br {
 	margin-top: 1px;
 }
}